# Column Pattern in data - Distinct will give you unique records but this feature will tell you pattern indiside your data. Check Few Last lines of the code. How helpful it is

In [1]:
import pandas as pd

In [2]:
#d = [{'a': 1, 'b': '712312433'}, {'a': 5, 'b': 'OTCV-UUW', 'c': 20}]
#data = pd.DataFrame(d)
#data

In [3]:
data=pd.read_csv('AppleStore.csv')
data.head()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

In [4]:
def CapitalLetters(inputs,start):
#	expression='[A-Z]'
	expression='Q'
	cnt=0
	while inputs[start] >= 'A' and inputs[start] <= 'Z':
#		print("C",inputs,start)
		cnt=cnt+1
		start=start+1
		if start==len(inputs):
			break
	if cnt==1:
		return (expression,start-1)
	else:
		return (expression+'{'+str(cnt)+'}',start-1)


def SmallLetters(inputs,start):
#	expression='[a-z]'
	expression='q'
	cnt=0
	while inputs[start] >= 'a' and inputs[start] <= 'z':
#		print("S",inputs,start)
		cnt=cnt+1
		start=start+1
		if start==len(inputs):
			break
	if cnt==1:
		return (expression,start-1)
	else:
		return (expression+'{'+str(cnt)+'}',start-1)


def Digits(inputs,start):
	expression='d'
	cnt=0
	while inputs[start] >= '0' and inputs[start] <= '9':
#		print("D",inputs,start)
		cnt=cnt+1
		start=start+1
		if start==len(inputs):
			break
	if cnt==1:
		return (expression,start-1)
	else:
		return (expression+'{'+str(cnt)+'}',start-1)



def Space(inputs,start):
	expression='s'
	cnt=0
	while inputs[start] == ' ':
#		print("Space",inputs,start)
		cnt=cnt+1
		start=start+1
		if start==len(inputs):
			break
	if cnt==1:
		return (expression,start-1)
	else:
		return (expression+'{'+str(cnt)+'}',start-1)

In [5]:
def mask_profile(series):
	def getMask(inputs):
		regex=''
		inputs=str(inputs)
		if inputs=='nan':
			regex='-null-'
		else:
			i=0
			while i<= (len(inputs)-1):
#				print("M",inputs,i)
				if inputs[i] >= 'A' and inputs[i] <= 'Z':
					expression,i=CapitalLetters(inputs,i)
					regex = regex + expression
				elif inputs[i] >= 'a' and inputs[i] <= 'z':
					expression,i=SmallLetters(inputs,i)
					regex=regex+expression
				elif inputs[i] >= '0' and inputs[i] <= '9':
					expression,i=Digits(inputs,i)
					regex = regex + expression
				elif inputs[i] == ' ' :
					expression,i=Space(inputs,i)
					regex = regex + expression
				else:
#					print ("else conditions....")
					regex = regex + inputs[i]
				i=i+1
		return regex
	value = series.apply(getMask).value_counts()
	percentage = round(series.apply(getMask).value_counts(normalize=True)*100,2)
	result = pd.DataFrame(value)
	result['%'] = pd.DataFrame(percentage)
	result.columns = ['Count','%']
	return result

In [6]:
# column value pattern in prime_genre
mask_profile(data['prime_genre'])

               Count      %
Qq{4}           4000  55.58
Qq{8}            909  12.63
Qq{12}           535   7.43
Qq{4}s&sQq{4}    349   4.85
Qq{6}            199   2.77
Qq{5}            195   2.71
Qq{7}            189   2.63
Qq{3}            187   2.60
Qq{5}s&sQq{6}    180   2.50
Qq{11}           178   2.47
Qq{5}sQq{9}      167   2.32
Qq{3}s&sQq{4}     63   0.88
Qq{9}             46   0.64

In [7]:
#Top 10 column value pattern in track_name
mask_profile(data['track_name']).sort_values(by='%',ascending=False).head(10)

             Count     %
Qq{8}           51  0.71
Qq{5}sQq{4}     45  0.63
Qq{3}sQq{4}     44  0.61
Qq{3}sQq{5}     42  0.58
Qq{4}sQq{3}     41  0.57
Qq{5}           41  0.57
Qq{4}           40  0.56
Qq{7}           39  0.54
Qq{5}sQq{5}     36  0.50
Qq{6}           36  0.50

In [8]:
# Ascending order 10 column value pattern in track_name
mask_profile(data['track_name']).sort_values(by='%',ascending=True).head(10)

                                                    Count     %
dQsQq{2}sQq{5}sQq{8}sQq{3}sQq{3}sQq{3}sQq{5}sQq...      1  0.01
Qq{4}sQq{2}:sQq{5}sQq{2}                                1  0.01
Qq{7}sQq{7}sQq{8}                                       1  0.01
广东移动手机营业厅-话费流量一手掌握，专属优惠定期发放                             1  0.01
Qq{5}（クリーマ）-sハンドメイドマーケットプレイス                            1  0.01
Qq{4}sQq{6}:sQq{10}sQ{3}sq{7}sq{6}!                     1  0.01
Qq{4}sQq{3}:sQq{5}sQq{4}sQ{2}s-sQsQq{6}sQq{5}sQ...      1  0.01
Qq{5}sQq{6}'qsQq{8}                                     1  0.01
Qq{2}Qq{3}sQ{2}                                         1  0.01
Qq{4}Qq{3}s-sQq{6}sQq{3}sQq{10}sQq{5}                   1  0.01

In [9]:
mask_profile(data['cont_rating']).sort_values(by='%',ascending=True).head(10)

       Count      %
d{2}+   1777  24.69
d+      5420  75.31

In [10]:
mask_profile(data['currency']).sort_values(by='%',ascending=True).head(10)

      Count      %
Q{3}   7197  100.0

# CoRelation between Two Columns- This feature will let you know how strong relationship between two columns